.header01{
  justify-self: center;
  text-align: center;
  display: grid;
  grid-template-columns: 300px 1fr;
}
.company{
  font-size: 60px;
  color: blue;
  font-weight: 500;
}
.company sub{
  color: black;
  font-size: 13px;
  display: none;
  font-weight: 900;
  font-style: oblique;
}
.header01 ul{ 
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px;
}
.header01 ul li{
  padding: 10px;
  font-size: 30px;
  list-style-type: none;
}
.header01 ul li a{
  font-size: 30px;
  color: black;
  text-decoration: none;
}