.insurance{
  padding: 20px;
  background-image: url(picutre/family1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.insurance div{
  width: 500px;
  background-color: rgba(206, 206, 206, 0.178);
  margin: 70px;
  padding: 40px;
}
.insurance div h6{
  font-size: 60px;
  margin: 0;
  padding: 0;
}
.insurance div p{
  font-size: 30px;
}
.insurance div button{
  background-color: blue;
  border: none;
  border-radius: 10px;
  width: 9vw;
  height: 7vh;
  font-size: 18px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}